system/system/app/YouTubeMusicClockworkRetailMode/oat/arm/YouTubeMusicClockworkRetailMode.odex
system/system/app/YouTubeMusicClockworkRetailMode/YouTubeMusicClockworkRetailMode.apk
product/priv-app/PrebuiltGmsCoreForClockworkWearable/oat/arm/PrebuiltGmsCoreForClockworkWearable.odex
